.tariff {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .tariff:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .price {
    font-size: 2em;
  }
  
  .tariff300 {
    background-color: #0ccae7;
  }
  
  .tariff450 {
    background-color: #0a9874;
  }
  
  .tariff550 {
    background-color: #b11d12;
  }
  
  .tariff1000 {
    background-color: #0e0e0e;
  }
  
  .selected {
    border: 2px solid #7cf008;
  }
  